import = [
  "~/.config/alacritty/themes/themes/monokai.toml",
]

live_config_reload = true

[env]
TERM = "xterm-256color"

[font]
size = 13.0

[font.bold]
family = "InconsolataGo Nerd Font Mono"
style = "Bold"

[font.bold_italic]
family = "InconsolataGo Nerd Font Mono"
style = "Bold Italic"

[font.italic]
family = "InconsolataGo Nerd Font Mono"
style = "Medium Italic"

[font.normal]
family = "InconsolataGo Nerd Font Mono"
style = "Bold"

[shell]
program = "tmux"

[window]
decorations = "None"
dynamic_padding = false
dynamic_title = true
opacity = 0.95

[window.padding]
x = 25
y = 20
